# Dependency directories
**/node_modules/

# Environment variables
**/.env
**/.env.local

# Firebase Private Keys (Updated for your new structure)
**/serviceAccountKey.json
server/src/config/serviceAccountKey.json

# Debug logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Build directories
**/dist/
**/build/